@import "nav.scss";
@import "load.scss";
@import "banner.scss";
@import "about_me.scss";
@import "skill.scss";
@import "startup.scss";

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #fefdfc;
}

* {
  margin: 0;
  padding: 0;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 1000px) {
  .container {
    width: 1000px;
    margin: 0 auto;
    position: relative;
  }
  html {
    font-size: 10px;
  }
}

@media screen and (max-width: 999px) {
  .container {
    width: 100%;
    position: relative;
  }
}

@media screen and (max-width: 374px) {
  html {
    font-size: 8.54px;
  }
}

@media screen and (min-width: 375px) and (max-width: 413px) {
  html {
    font-size: 10px;
  }
}

@media screen and (min-width: 414px) and(max-width: 768px) {
  html {
    font-size: 11px;
  }
}

@media screen and (min-width: 769px) and(max-width: 999px) {
  html {
    font-size: 10px;
  }
}
















.home_main {
  display: none;
  overflow: hidden;
  max-width: 100%;
  .bg{
    background: url(../../public/images/home/bg_flower.jpg) no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(10px);
    -webkit-filter: blur(6px);
  }
  .model_title {
    text-align: center;
    position: relative;
    color: #fff;
    text-shadow: 2px 2px 4px #fa0;
  }
}


@media screen and (min-width: 769px){
  .model_title{
    padding: 40px;
    font-size: 42px;
  }
}
@media screen and (max-width: 768px){
  .model_title{
    padding: 2rem 0;
    font-size: 2.4rem;
  }
}