nav {
  position: relative;
  z-index: 10;
  .line {
    position: absolute;
    left: 466px;
    bottom: 0;
    width: 72px;
    height: 2px;
    background: #f90;
    transition: all .3s;
    -webkit-transition: all .3s;
  }
  ul {
    margin-left: 460px;
    li {
      float: left;
      margin: 0 6px;
      a {
        display: inline-block;
        color: rgba(49, 47, 47, .35);
        font-size: 18px;
        line-height: 60px;
        text-decoration: none;
        transition: all .4s;
        -webkit-transition: all .4s;
        padding: 0 18px;
      }
      &:hover a, &.active a {
        color: #312f2f;
      }
    }
    &::after {
      clear: both;
      display: block;
      content: ' ';
      height: 0;
      visibility: hidden;
    }
  }
}