@mixin percentage_ball{
  $colorList: (#479bce, #55a0ce, #59a7ce, #6db8ce, #6db8ce, #7cbbce, #93c2ce, #93c2ce);
  @for $i from 1 to 9{
    .section:nth-child(#{$i}) .percentage::after{
      background: nth($colorList, $i);
      animation: skill-percentage 5s linear .03s*$i infinite;
    }
  }
}
.skill_model {
  position: relative;
  z-index: 12;
  overflow: hidden;
  padding-bottom: 50px;
  margin-top: 50px;
  background: rgba(253, 209, 177, .2);
  .model_title {
    padding: 40px;
    text-align: center;
    font-size: 52px;
    position: relative;
    top: 25%;
    color: #fff;
    text-shadow: 2px 2px 4px #fa0;
  }
  .section {
    float: left;
    width: 25%;
    text-align: center;
    overflow: hidden;
    padding-bottom: 20px;
    .percentage {
      background: #fefefe;
      border-radius: 50%;
      width: 220px;
      height: 220px;
      border: 10px solid rgba(255, 255, 255, .3);
      overflow: hidden;
      line-height: 240px;
      display: inline-block;
      color: #888;
      position: relative;
      z-index: 1;
      &::after {
        content: ' ';
        display: inline-block;
        position: absolute;
        top: 70%;
        left: -130px;
        width: 500px;
        height: 500px;
        border-radius: 40%;
      }
    }
  }

  @include percentage_ball;
  &::after {
    content: ' ';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    overflow: hidden;
  }
}


@keyframes skill-percentage {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}