@mixin percentage_ball {
  $colorList: (#479bce, #55a0ce, #59a7ce, #6db8ce, #6db8ce, #7cbbce, #93c2ce, #93c2ce);
  @for $i from 1 to 9 {
    .section:nth-child(#{$i}) .percentage .bar {
      background: nth($colorList, $i);
      animation: skill-percentage 5s linear .03s*$i infinite;
    }
  }
}

@mixin percentage_line {
  $colorList: (#f00, #0f0, #59a7ce);
  @for $i from 1 to 4 {
    .section:nth-child(#{1n * $i}) .percentage .bar {
      background: nth($colorList, $i);
    }
  }
}

@mixin pc_skill {
  padding-bottom: 50px;
  text-align: center;
  .section {
    display: inline-block;
    text-align: center;
    overflow: hidden;
    padding: 4px 8px;
    .percentage {
      background: #fefefe;
      border-radius: 50%;
      width: 210px;
      height: 210px;
      border: 10px solid rgba(255, 134, 0, .1);
      overflow: hidden;
      line-height: 210px;
      display: inline-block;
      color: #888;
      position: relative;
      z-index: 1;
      span {
        position: relative;
        z-index: 1;
        font-size: 16px;
      }
      .bar {
        content: ' ';
        display: inline-block;
        position: absolute;
        top: 70%;
        left: -130px;
        width: 500px;
        height: 500px;
        border-radius: 40%;
      }
    }
  }
}

@mixin mobile_skill {
  padding-bottom: 2rem;
  .section {
    padding: 0.8rem 1.2rem;
    text-align: right;
    color: #6c6c6c;
    .percentage {
      background: #fafafa;
      border-radius: 10px;
      line-height: 2rem;
      overflow: hidden;
      padding: 0 20px;
      box-shadow: inset 0 0 8px 3px #dadada;
      position: relative;
      span {
        position: relative;
        z-index: 1;
      }
      .bar {
        content: ' ';
        display: inline-block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 30%;
        border-radius: 10px 0 0 10px;
        box-shadow: inset 0 0 8px 3px rgba(255, 255, 255, .3);
        //box-shadow: inset 0 0 8px 3px #fdd1b1;
        //background: #f90;
      }
    }
  }
}

.skill_model {
  position: relative;
  z-index: 12;
  overflow: hidden;
  background: rgba(255, 255, 255, .8);
}

@media screen and (min-width: 769px) {
  .skill_model {
    @include pc_skill;
    @include percentage_ball;
  }
}

@media screen and (max-width: 768px) {
  .skill_model {
    @include mobile_skill;
    @include percentage_line;
  }
}

@keyframes skill-percentage {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
