body{
  background: url('../../public/images/bg3_1.jpg') no-repeat;
  //background: #000;
  background-size: cover;
  background-position: center top;
  font-size: 14px;
  color: #3c3c3c;
}
.box{
  width: 800px;
  height: 500px;
  background-color: rgba(255, 255, 255, .6);
  border-radius: 20px;
  padding: 50px 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  &::after{
    content: ' ';
    display: block;
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url('../../public/images/bg3_1.jpg') no-repeat;
    background-size: 150%;
    background-position: center top;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    -ms-filter: blur(10px);
    -moz-filter: blur(10px);
  }
  .title{
    font-size: 22px;
    text-align: center;
    color: rgba(255, 255, 255, .6);
    font-weight: bold;
    line-height: 3em;
  }
  table{
    width: 100%;
    table-layout: fixed;
    text-align: center;
    border-collapse: collapse;
    color: #fff;
    td, th{
      line-height: 30px;
    }
    thead{
      background: #00a0ff;
      line-height: 36px;
      font-size: 16px;
      color: #fff;
      font-weight: normal;
    }
    tbody{
      tr:nth-child(even){
        background: rgba(237, 245, 253, 0.3);
      }
    }
  }

  #pagination{
    line-height: 28px;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    -webkit-user-select: none;
    .link{
      display: inline-block;
      padding: 0 15px;
      background: rgba(237, 245, 253, 0.6);
      cursor: pointer;
    }
    #page_num{
      display: inline-block;
      span{
        display: inline-block;
        padding: 0 15px;
        background: rgba(237, 245, 253, 0.3);
        cursor: pointer;
        margin: 0 5px;
        transition: all .4s ease-in;
        -webkit-transition: all .4s ease-in;
        -moz-transition: all .4s ease-in;
        -ms-transition: all .4s ease-in;
        &.active{
          background: #00a0ff;
          color: #fff;
        }
      }
    }
    .goto{
      padding-top: 10px;
      input{
        width: 50px;
        padding: 0;
        background: #fff;
        border: none;
        line-height: 24px;
        height: 24px;
        margin: 0 5px;
      }
      button{
        border: none;
        background: #00a0ff;
        color: #fff;
        padding: 0 10px;
        line-height: 24px;
        border-radius: 6px;
      }
    }
  }
}
