body {
  background: #fefefe;
}

@mixin percentage_ball {
  $colorList: (#479bce, #55a0ce, #59a7ce, #6db8ce, #6db8ce, #7cbbce, #93c2ce, #93c2ce);
  @for $i from 1 to 9 {
    .progress_wrapper:nth-child(#{$i}) .wrapper .progress {
      &.right_circle {
        border-right: 20px solid nth($colorList, $i);
        border-top: 20px solid nth($colorList, $i);
      }
      &.left_circle {
        border-left: 20px solid nth($colorList, $i);
        border-bottom: 20px solid nth($colorList, $i);
      }
    }
  }
}

.progress_wrapper {
  width: 220px;
  height: 220px;
  background: #fff;
  position: relative;
  margin: 0 auto;
  .wrapper {
    width: 110px;
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: hidden;
    .progress {
      width: 180px;
      height: 180px;
      position: absolute;
      top: 0;
      border: 20px solid #eee;
      border-radius: 50%;
      -webkit-transform: rotate(-135deg);
      &.right_circle {
        right: 1px;
        //border-right: 20px solid #f0f;
        //border-top: 20px solid #f0f;
        border-right: 20px solid #f90;
        border-top: 20px solid #f90;
      }
      &.left_circle {
        left: 1px;
        border-left: 20px solid #f90;
        border-bottom: 20px solid #f90;
      }
    }
    &.right {
      right: 0;
    }
    &.left {
      left: 0;
    }
  }
}

.progress_wrapper.loading {
  .wrapper .progress {
    &.right_circle {
      animation: right_circle 1.6s linear infinite;
      -webkit-animation: right_circle 1.6s linear infinite;
    }
    &.left_circle {
      animation: left_circle 1.6s linear infinite;
      -webkit-animation: left_circle 1.6s linear infinite;
    }
  }

}

@keyframes right_circle {
  0% {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  50%, 100% {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

}

@keyframes left_circle {
  0%, 50% {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  100% {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

}

.progress_circle {
  .lt_half, .gt_half {
    .right_circle {
      transition: all .6s linear;
      -webkit-transition: all .6s linear;
    }
    .left_circle {
      transition: all .6s linear .6s;
      -webkit-transition: all .6s linear .6s;
    }
  }
  //.lt_half {
  //  .right_circle {
  //    -webkit-transform: rotate(-45deg);
  //  }
  //}
  //.gt_half {
  //  .right_circle {
  //    transform: rotate(45deg);
  //    -webkit-transform: rotate(45deg);
  //  }
  //  .left_circle {
  //    -webkit-transform: rotate(-45deg);
  //  }
  //}


  form{
    padding-top: 20px;
    color: #6c6c6c;
    font-size: 14px;
    text-align: center;
    input{
      margin: 0 6px;
      border-radius: 4px;
      padding: 0 10px;
      line-height: 24px;
      outline: none;
      border: 1px solid #9c9c9c;
    }
    .btn{
      text-align: center;
      padding: 10px;
      span{
        display: inline-block;
        cursor: pointer;
        line-height: 30px;
        padding: 0 20px;
        border-radius: 10px;
        color: #fff;
        background: #038aef;
        box-shadow: inset 0px 3px 4px #40a9f7;
        &:hover, &:focus{
          background: #037cd7;
        }
      }
    }
  }
}

//@include percentage_ball;