<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="../stylesheet/share/reset.css"/>
    <link rel="stylesheet" href="../stylesheet/banner/banner.css">
</head>
<body>
<div id="banner_area">
    <div id="banner_list">
        <div class="bg"></div>
        <!--<div class="banner_unit"><a href = ''>1</a></div>-->
    </div>

    <ul class="btn">
        <li id="prev">&lt;</li>
        <li id="next">&gt;</li>
    </ul>
</div>
<script src="../javascript/libs/toolAjax.js"></script>
<script src="../javascript/components/banner/banner.js"></script>
</body>
</html>