<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../stylesheet/book/style.css">
    <title>Document</title>
</head>
<body>
<div class="book">
    <!--左右两个书皮-->
    <div class="book_content_bg fl">
        <div class="book_paple p1"></div>
        <div class="book_paple p2"></div>
        <div class="book_paple p3"></div>
    </div>
    <div class="book_content_bg fr">
        <div class="book_paple p1"></div>
        <div class="book_paple p2"></div>
        <div class="book_paple p3"></div>
    </div>

    <!--书的内容页-->
    <div class="box" id="book">
        <div class="first_paper">
            <div class="book_paper_left">
                <div class="page">1</div>
            </div>
        </div>
        <div class="paper">
            <div class="book_paper_left">
                <div class="page">2</div>
            </div>
            <div class="book_paper_right">
                <div class="page">3</div>
            </div>
        </div>
        <div class="paper">
            <div class="book_paper_left">
                <div class="page">4</div>
            </div>
            <div class="book_paper_right">
                <div class="page">5</div>
            </div>
        </div>
        <div class="paper">
            <div class="book_paper_left">
                <div class="page">6</div>
            </div>
            <div class="book_paper_right">
                <div class="page">7</div>
            </div>
        </div>
        <div class="paper">
            <div class="book_paper_left">
                <div class="page">8</div>
            </div>
            <div class="book_paper_right">
                <div class="page">9</div>
            </div>
        </div>
        <div class="paper">
            <div class="book_paper_left">
                <div class="page">10</div>
            </div>
            <div class="book_paper_right">
                <div class="page">11</div>
            </div>
        </div>
        <div class="paper">
            <div class="book_paper_left">
                <div class="page">12</div>
            </div>
            <div class="book_paper_right">
                <div class="page">13</div>
            </div>
        </div>
        <div class="paper">
            <div class="book_paper_left">
                <div class="page">14</div>
            </div>
            <div class="book_paper_right">
                <div class="page">15</div>
            </div>
        </div>
        <div class="paper">
            <div class="book_paper_left">
                <div class="page">16</div>
            </div>

        </div>
    </div>

    <!--链接的环-->
    <div class="book_ring top">
        <div class="ring ring1"></div>
        <div class="ring ring2"></div>
        <div class="ring ring3"></div>
    </div>
    <div class="book_ring bottom">
        <div class="ring ring1"></div>
        <div class="ring ring2"></div>
        <div class="ring ring3"></div>
    </div>
</div>
<script src="../javascript/components/book/index.js"></script>
</body>
</html>