<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="open">
    打开
</div>
<a href="vc://www.oschina.net/launch/app?type=6&amp;id=79515">link open open open open </a>

<script>
    alert(navigator.userAgent);
    document.getElementById('open').onclick = function () {
        window.location.href = 'vc://www.oschina.net/launch/app?type=6&amp;id=79515'
    }


    var client = {
        versions: function () {
            var u = navigator.userAgent;
            return {
                ios: !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/), //ios终端
                android: u.indexOf('Android') > -1 || u.indexOf('Linux') > -1, //android终端或者uc浏览器
            }
        }()
    }
</script>
<script type="text/javascript">
    var u = navigator.userAgent, app = navigator.appVersion;
    var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Linux') > -1; //android终端或者uc浏览器
    var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
    if (isAndroid) {
        alert("是安卓");
    } else if (isiOS) {
        alert("是苹果");
    }
</script>
</body>
</html>